@model GenericModel<Server>
@{
    ViewData["Description"] = "Server information";
    ViewData["Title"] = "Server";
    var server = Model.Item!;
}

<div class="section">
    <div class="content">
        <div class="card">
            <header class="card-header">
                <span class="card-header-title is-block">
                    <div class="columns is-mobile mb-0">
                        <div class="column is-narrow">
                            <figure class="image is-96x96">
                                <img class="is-server-icon" src="@(server.Ping.Favicon ?? "/img/default.png")" alt="Favicon"/>
                            </figure>
                        </div>
                        <div class="column rows">
                            <div class="row is-full">
                                <a class="is-size-4" href="https://mcsrvstat.us/server/@server.IP:@server.Port">
                                    <b>@server.IP:@server.Port</b>
                                </a>
                            </div>
                            <div class="row is-full">
                                @Html.Raw(server.Ping.DescriptionToHtml())
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Protocol</span>
                                    @if (server.Ping.Version?.Protocol != null) {
                                        <span class="tag is-success">@server.Ping.Version?.Protocol</span>
                                    } else {
                                        <span class="tag is-warning">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-question"></i>
                                            </span>
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Version</span>
                                    @if (server.Ping.Version?.Name != null) {
                                        <span class="tag is-success">@server.Ping.Version?.Name</span>
                                    } else {
                                        <span class="tag is-warning">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-question"></i>
                                            </span>
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Players</span>
                                    @if (server.Ping.Players is { Online: not null, Max: not null }) {
                                        <span class="tag is-success">@server.Ping.Players.Online/@server.Ping.Players.Max</span>
                                    } else {
                                        <span class="tag is-warning">
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-question"></i>
                                            </span>
                                        </span>
                                    }
                                </div>
                            </div>

                            @if (server.Ping.ChatReporting) {
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-info">Chat Reporting</span>
                                    </div>
                                </div>
                            }

                            @if (server.Ping.IsForge) {
                                <div class="control">
                                    <div class="tags has-addons">
                                        <span class="tag is-info">Forge</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </span>
            </header>
        </div>

        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Server Information</span>
                        </span>
                    </header>
                    <div class="card-content">
                        <h1>THIS IS A STUB</h1>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <span class="is-size-4">Players</span>
                        </span>
                    </header>
                    <div class="card-content">
                        <h1>THIS IS A STUB</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>