@{
    ViewData["Description"] = "Search servers";
    ViewData["Title"] = "Servers";
    Layout = "Search";
}

@if (Model.Items == null) {
    <h2>Advanced query language</h2>
    <p>ServerOverflow has an operator system, which works like this:</p>
    <ul>
        <li>Want to find a server with a specific MC version? You can use <code>version:1.19.2</code></li>
        <li>Want to include servers with non-zero player count? You can use <code>-online:0</code></li>
        <li>Want to be even more specific about it? You can use <code>version:"Paper 1.20.1"</code></li>
        <li>Just want to search for keywords in MOTDs? Type it out <code>like so</code></li>
        <li>Want to include only online servers? You can use <code>isOnline:true</code></li>
        <li>Want to match multiple words? Put it in quotes <code>"like so"</code></li>
    </ul>
    <h2>List of operators</h2>
    <ul>
        <li><code>hasPlayer (string)</code> - match servers which has a specific player online (can be username or UUID)</li>
        <li><code>allowsReporting (boolean)</code> - match servers that have or don't have chat reporting enabled</li>
        <li><code>onlineMode (string)</code> - match servers by guessed online mode (online, offline, mixed)</li>
        <li><code>hasMod (string)</code> - match servers that have a specific forge mod installed (mod ID)</li>
        <li><code>hasForge (boolean)</code> - match servers that have or don't have Forge installed</li>
        <li><code>online (integer)</code> - match servers with a specific current player count</li>
        <li><code>protocol (integer)</code> - match servers with a specific protocol version</li>
        <li><code>version (string)</code> - match servers with a specific version string</li>
        <li><code>max (integer)</code> - match servers with a specific max player count</li>
    </ul>
    <h2>Operator types</h2>
    <ul>
        <li>Boolean - A binary true or false</li>
        <li>Integer - A number without a sign</li>
        <li>String - Basically just some text</li>
    </ul>
} else {
    <div class="columns is-multiline">
        @foreach (Server server in Model.Items) {
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <span class="card-header-title is-block">
                            <div class="columns is-mobile mb-0">
                                <div class="column is-narrow">
                                    <figure class="image is-96x96">
                                        <img class="is-server-icon" src="@(server.Ping.Favicon ?? "/img/default.png")" alt="Favicon"/>
                                    </figure>
                                </div>
                                <div class="column rows">
                                    <div class="row is-full">
                                        <a class="is-size-4" href="/server/@server.Id">
                                            <b>@server.IP:@server.Port</b>
                                        </a>
                                    </div>
                                    <div class="row is-full">
                                        @Html.Raw(server.Ping.DescriptionToHtml())
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Protocol</span>
                                            @if (server.Ping.Version?.Protocol != null) {
                                                <span class="tag is-success">@server.Ping.Version?.Protocol</span>
                                            } else {
                                                <span class="tag is-warning">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-question"></i>
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    </div>

                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Version</span>
                                            @if (server.Ping.Version?.Name != null) {
                                                <span class="tag is-success">@server.Ping.Version?.Name</span>
                                            } else {
                                                <span class="tag is-warning">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-question"></i>
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    </div>

                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-dark">Players</span>
                                            @if (server.Ping.Players is { Online: not null, Max: not null }) {
                                                <span class="tag is-success">@server.Ping.Players.Online/@server.Ping.Players.Max</span>
                                            } else {
                                                <span class="tag is-warning">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-question"></i>
                                                    </span>
                                                </span>
                                            }
                                        </div>
                                    </div>

                                    @if (server.Ping.ChatReporting) {
                                        <div class="control">
                                            <div class="tags has-addons">
                                                <span class="tag is-info">Chat Reporting</span>
                                            </div>
                                        </div>
                                    }

                                    @if (server.Ping.IsForge) {
                                        <div class="control">
                                            <div class="tags has-addons">
                                                <span class="tag is-info">Forge</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </span>
                    </header>
                </div>
            </div>
        }
    </div>
}